<h1>{{title}}</h1>
    
    <h2> Please pick your items </h2>
    <h3> <button (click)="onGetTypes()">Get Types Test</button></h3>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="row">
      <div class="col-xs-4">
      <ul class=heroes>
          <li *ngFor="let item of allItemTypes" [class.selected]="hero === selectedHero" (click)="onSelectItem(item)">
            <span class="badge">{{item.type.id_str}}</span> {{ item.type.name }}
          </li>
      </ul>
      </div>
      <div class="col-xs-5">
        <h3> >>>  Selected Items <button (click)="onClearItems"> Clear Items</button></h3>
        <ul class=halblue>
             <li *ngFor="let it of selItemTypes" [class.halselected]="hal === selectedHal" (click)="onRemoveItem(it)">
                {{ it.type.name }} 
             </li>
        </ul>
      </div>
  </div>